In [ ]:
try:
    import sklearn as sk
except ModuleNotFoundError:
    !pip install pyarrow
    !pip install scikit-learn
    !pip install pandas
    !pip install matplotlib

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import sklearn as sk

root_dir = %pwd

In [18]:

def print_category_counts(df, col):
    print(col, "counts:")
    for c in df[col].unique():
        count = (df[col] == c).sum()
        part = count / len(df)
        print(f"{c:>10s}: {count} ({part:2.1%})")

In [19]:
df = pd.read_csv(root_dir + "/data/diabetes-130-us/diabetic_data.csv", na_values="?", dtype={'payer_code': str})
print("DataFarame size", df.shape)
print_category_counts(df, "readmitted")
df.head(5)

DataFarame size (101766, 50)
readmitted counts:
        NO: 54864 (53.9%)
       >30: 35545 (34.9%)
       <30: 11357 (11.2%)

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),NaN,6,25,1,1,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),NaN,1,1,7,3,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),NaN,1,1,7,2,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),NaN,1,1,7,2,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),NaN,1,1,7,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [5]:
print("Missing values (%):")
for col in df.columns:
    percent_missing = df[col].isna().mean() * 100
    if percent_missing > 0:
        print(col, " : ", percent_missing)

Missing values (%):
race  :  2.2335554114340743
weight  :  96.85847925633315
payer_code  :  39.5574160328597
medical_specialty  :  49.08220820313268
diag_1  :  0.02063557573256294
diag_2  :  0.3517874339170253
diag_3  :  1.398305917497003
max_glu_serum  :  94.74677200636755
A1Cresult  :  83.27732248491637